header {
  background-color: #d6e7e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 50px;
  padding-right: 50px;
}

header p a {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  letter-spacing: 8px;
  color: #e1745f;
  text-decoration: none;
}

#navBar{
  display: flex;
  flex-direction: row;
}

#navBar a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 8px;
  color: #e1745f;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 60%;
  letter-spacing: 3px;
}

#projects:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

#contact:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

#resume:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

@media (max-width: 768px){
  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  header p a {
    line-height: 40px;
    font-size: 25px;
  }

  #navBar{
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
 
  
}