header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  /* 1. Add a semi-transparent background color (using rgba for opacity) */
  background-color: rgba(250, 250, 249, 0.8);
  /* 2. Apply the blur effect to the background area */
  backdrop-filter: blur(10px);

  /* 3. Include vendor prefixes for maximum browser compatibility */
  -webkit-backdrop-filter: blur(5px);
}

.blur-box {
  /* 1. Add a semi-transparent background color (using rgba for opacity) */
  background-color: rgba(255, 255, 255, 0.4);

  /* 2. Apply the blur effect to the background area */
  backdrop-filter: blur(5px);

  /* 3. Include vendor prefixes for maximum browser compatibility */
  -webkit-backdrop-filter: blur(5px);

  /* Add padding for content readability */
  padding: 20px;
}

header p a {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
  color: #334155;
  text-decoration: none;
}

#logo-header a {
  text-align: left;
}

#logo-header {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#navBar a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 8px;
  color: #334155;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 60%;
  letter-spacing: 3px;
}

#projects:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

#contact:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

#resume:hover {
  font-weight: 800;
  opacity: 1;
  transition: 0.3s;
}

@media (max-width: 768px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
  #img-header {
    display: none;
  }
  header p a {
    line-height: 40px;
    font-size: 25px;
  }

  #navBar {
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
