#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

#title {
  width: 70%;
}

#title-main {
  margin: 60px 0 10px 0;
  font-size: 20px;
}
#title-main h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.project-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 800px;
  gap: 5px;
  /* background-color: aqua; */
}

#title-observation {
  padding: 50px 0;
}

img {
  width: 100%;
}

@media (max-width: 768px) {
  #title {
    width: 90%;
    text-align: center;
  }
  .project-pages {
    align-items: center;
    width: 100%;
  }
  #title-main h1 {
    font-size: 35px;
  }
}

.dynamic-video-container {
  width: 80%;
  margin: 30px 0;
  background: #000; /* Fundo preto caso o vídeo seja menor que a largura */
}

.dynamic-video-container video {
  width: 80%;
  height: auto;
  display: block;
}

/* Garante que as imagens não tenham espaço extra entre elas */
#projectPages img {
  display: block;
  width: 100%;
}
