#projects {
  opacity: 1 !important;
  font-weight: 800 !important;
}

#boxCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px; /* Set gap between grid items */
  margin-top: 20px;
  width: 70%;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  @media (max-width: 1000px) {
    grid-template-columns: 1fr; /* One card per row on smaller screens */
    width: 100%; /* Full width on smaller screens */
  }
  max-width: 1280px;
}

.cardProject {
  position: relative;
  overflow: hidden;
}

.cardProject::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 42, 53, 0.9); /* Translucent black background */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Add transition for smoother animation */
}

.cardProject:hover::before {
  opacity: 1; /* Make the translucent black filter visible on hover */
}

.cardProject img {
  width: 100%;
  height: auto;
  display: block;
}

.cardTitle {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Add transition for smoother animation */
}

.cardProject:hover .cardTitle {
  opacity: 1; /* Make the title visible on hover */
}

.title {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}

.tags {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .tags {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }
}
