#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

#title {
  width: 70%;
}

#title-main {
  margin: 60px 0 10px 0;
  font-size: 20px;
}
#title-main h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.project-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 5px;
  /* background-color: aqua; */
}

#title-observation {
  padding: 50px 0;
}

img {
  width: 100%;
}

@media (max-width: 768px) {
  #title {
    width: 90%;
    text-align: center;
  }
  .project-pages {
    align-items: center;
    width: 100%;
  }
  #title-main h1 {
    font-size: 35px;
  }
}

/* Classe criada dinamicamente pelo JS para envolver o vídeo */
.dynamic-video-container {
  position: relative;
  width: 100%;
  /* Esse padding-bottom mágico cria a proporção 16:9 (HD) */
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background-color: #000; /* Fundo preto enquanto carrega */
}

.dynamic-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Garante que as imagens não tenham espaço extra entre elas */
#projectPages img {
  display: block;
  width: 100%;
}
