* {
  margin: 0px;
  font-family: "Inter", sans-serif;

  color: #453d30;
}

body {
  background-color: #f5f0eb;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.fade-container {
  animation: transitionIn 1s;
}

.fade-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-container.fade-out {
  opacity: 0;
}

.button{
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.05);
}