.switch {
  position: relative;
  width: 600px;
  height: 80px;
  border-radius: 25px;
  margin: 50px;
}

.switch input {
  appearance: none;
  width: 600px;
  height: 80px;
  border-radius: 40px;
  font-size: 40px;
  background-color: #efe4d9;
  box-shadow: inset -2px -2px 5px rgba(110, 100, 93, 0.5);
  outline: none;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bolder;
}

.switch input::before {
  content: "Bem-vindo";
  left: 40px;
}

.switch input::after {
  content: "Welcome";
  right: 40px;
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 7px;
  bottom: 7px;
  border-radius: 35px;
}

.switch input {
  transition: 0.25s;
}

.switch input:checked::before {
  color: #efe4d9;
  transition: color 0.5s;
}

.switch input:checked::after {
  color: #e1745f;
  transition: color 0.5s;
}

.switch input:checked + label {
  left: 10px;
  right: 310px;
  background-color: #e1745f;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
  background: #efe4d9;
  transition: background 0.4s;
}

.switch input:not(:checked)::before {
  color: #e1745f;
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: #efe4d9;
  transition: color 0.5s;
}

.switch input:not(:checked) + label {
  left: 350px;
  right: 10px;
  background-color: #e1745f;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

@media (max-width: 768px) {
  .switch {
    width: 300px;
    height: 40px;
    border-radius: 25px;
  }

  .switch input {
    width: 300px;
    height: 40px;
    font-size: 25px;
    box-shadow: inset -1px -1px 3px rgba(110, 100, 93, 0.5);
  }

  .switch input::before {
    left: 15px;
  }

  .switch input::after {
    right: 15px;
  }

  .switch input:checked + label {
    left: 5px;
    right: 140px;
  }

  .switch input:not(:checked) + label {
    left: 160px;
    right: 5px;
  }

  .switch label {
    top: 4px;
    bottom: 4px;
  }
}
